<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.boboyuk">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Boboyuk"
        tools:targetApi="31">
        <activity
            android:name="com.example.boboyuk.TipeKmr.TipeEditorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.boboyuk.TipeKmr.TipeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.boboyuk.Kamar.KamarEditActivity"
            android:exported="true" />
        <activity
            android:name="com.example.boboyuk.Kamar.KamarActivity"
            android:exported="true" />
        <activity
            android:name="com.example.boboyuk.User.UserEditorActivity"
            android:exported="true" />
        <activity
            android:name="com.example.boboyuk.User.UserActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>